


body {
    background-color: rgb(103, 81, 129);
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0;
}

#cipher {
    justify-content: center;
    height: 250px;
    width: 400px;
    background-color: rgb(103, 81, 129);
    margin-top: 170px;
    box-shadow: 5px 0.5px 50px 2px black;
    display: flex;
}

#cipher-title {
    position: absolute;
    margin-right: 190px;
    margin-top: -2px;
    color: rgba(255, 255, 255, 0.653);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#display {
    background-color: rgb(41, 43, 58);
    display: flex;
    position: absolute;
    margin-top: 100px;
    height: 90px;
    width: 25.5%;
    border-radius: 0px;
    flex-direction: column;
    box-sizing: border-box;
}

@media (max-width: 600px){
    #display {
        background-color: rgb(41, 43, 58);
        display: flex;
        position: absolute;
        margin-top: 100px;
        height: 90px;
        width: 98%;
        border-radius: 0px;
        flex-direction: column;
        box-sizing: border-box;
    }
}

#result {
    margin-top: 5px;
    margin-left: 5px;
    color: rgba(255, 255, 255, 0.653);
    font-size: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 0px;
}

#input {
    background-color: rgb(41, 43, 58);
    border: none;
    outline: none;
    height: 25px;
    width: 98%;
    color: rgb(70, 195, 124);
    margin-top: 50px;
    margin-left: 1px;
}

#slider {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
    margin-top: 195px;
    width: 390px;
    box-sizing: border-box;
}

#slider::-webkit-slider-runnable-track {
  height: 8px;
  background-color: rgb(41, 43, 58);
}

#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 8px;
  height: 8px;
  background: rgba(255, 255, 255, 0.653);
  border-radius: 50%;
  cursor: pointer;
}

#slider::-moz-range-thumb {
  width: 8px;
  height: 8px;
  background: rgba(255, 255, 255, 0.653);
  border-radius: 50%;
  cursor: pointer;
}

#slider-value {
    position: absolute;
    margin-top: 202px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
}

#encode-button {
    height: 25px;
    width: 50px;
    margin-top: 220px;
    background-color: rgb(103, 81, 129);
    text-align: center;
    border: solid;
    border-color: rgb(41, 43, 58);
    font-size: 10px;
    color: rgb(34, 36, 48);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#encode-button:hover{
    cursor: pointer;
    background-color: rgb(128, 110, 146);
    transform: scale(1.03);
}

#encode-button:active {
    box-shadow: inset 1px 1px 1px 2px rgb(41, 43, 58);
}
