


body {
    background-color: rgb(103, 81, 129);
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0;
}

#cipher{
    justify-content: center;
    height: 250px;
    width: 400px;
    background-color: rgb(103, 81, 129);
    margin-top: 170px;
    box-shadow: 5px 0.5px 50px 2px black;
}